.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px 10%;
    border-bottom: 2px solid black;
}


.nav_links {
    list-style: none;
}

button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: black;
}