* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover {
    color: skyblue;
}

/* HEADER */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}


.navbar .toggle-botton {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.button {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.button:hover {
    scale: 1.05;
    color: white;
    background-color: skyblue;
}

.button:active {
    scale: 0.95;
}



/* responsive menu */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(250, 250, 250, 0.9);
    border-radius: 10px;
    overflow: hidden;
    transition: height.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 240px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .button {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* RESPONSIVE DESGIN */
@media (max-width:600px) {

    .navbar .links,
    .navbar .button {
        display: none;
    }

    .navbar .toggle-botton {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media (max-width:500px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 60px 10%;
}

p {
    display: flex;
    justify-content: center;
}


.footer-col {
    width: 25%;
}

.footer-col h4 {
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: white;
    text-transform: capitalize;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: white;
}

.footer-col h4::after {
    margin: -7px;
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: white;
    height: 2px;
    width: 100px;
}

ul .kok:not(:last-child) {
    margin-bottom: 8px;
}

ul .kok a,
p {
    display: flex;
    font-size: 15px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

ul .kok a:hover {
    color: white;
    padding-left: 10px;
}

.media-links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.media-links a:hover {
    color: #4d4f55;
    background-color: skyblue;
}


/* RESPONSIVE DESGIN */
@media(max-width: 740px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before {
        all: unset;
    }
}

@media(max-width: 555px) {
    .footer-col {
        width: 100%;
    }
}